.first {
  position: relative;
  padding: 0xp;
  margin: 0px auto;
}
.second {
  position: relative;
  padding: 0xp;
  margin: 0px auto;
}
.third {
  position: relative;
  padding: 0xp;
  margin: 0px auto;
}
